* {
    box-sizing: border-box;
}

header {
    border: 2px solid #73AD21;
    border-radius: 25px;
}

h1.intro {
    font-family: OCR A Std, monospace;
    text-align: center;
}

.content-header {
    height: 50%;
    position: absolute;
    margin-left: 20%;
    margin-bottom: 2%;
    font-family: OCR A Std, monospace;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
}

.centered-div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#news-link-div {
    width: 300px;
    float: left;
    border: 2px solid #73AD21;
    border-radius: 20px;
    margin-top: 80px;
    padding: 5em;
}

div#onthisday-link-div {
    width: 300px;
    border: 2px solid #73AD21;
    border-radius: 20px;
    margin-top: 80px;
    padding: 5em;
}

h2 {
    text-align: center;
    font-family: OCR A Std, monospace;
    text-decoration: underline;
    position: relative;
    margin-bottom: 2px;
    height: 50%;
}

div#news-div {
    margin-left: 20px;
}

div#article-div:nth-child(odd) {
    background-color: lightcyan;
}

#topic {
    font-family: OCR A Std, monospace;
    font-weight: bold;
}

li#news-description {
    font-style: italic;
}

a:link {
    color: blue;
    text-transform: capitalize;
}

a:visited {
    color: purple;
}

a:hover {
    color: red; 
} /* For all <a href> elements in template */

h2#onthisday-header {
    font-family: OCR A Std, monospace;
    text-decoration: underline; 
    position: relative;
    margin-bottom: 2px;
    height: 50%;
}

table#onthisday-table {
    margin-left: 20px;
    padding: 5px;
}

th {
    border-bottom: solid 1px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

tr:hover {
    background-color: #FFDE64;
}

td#table-event {
    padding: 5px;
    padding-left: 20px;
}

footer {
    text-align:center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*
`id` belongs to single element in HTML template; refer to them using `#`
`class` can belong to multiple elements in HTML template; refer to them using `.`
*/

/* 
Ruleset for <div id="form-piece"> in <div class="custom-container">
*/
#form-piece {
    background: rgb(55, 174, 174);
    padding: 5px;
}

/* 
Ruleset for <div id="center-piece"> under <div class="row"> under <div class="container">
*/
#center-piece h1 { /* h1 element under `center-piece` */
    color: green;
}

#center-piece h3 {
    color: purple;
    text-transform: uppercase;
}